body {
	font-family:courier;
	margin:0;
	border-top:5px solid black;
}

h1 {
	width:400px;
	margin:0 auto;
	margin-top:100px;
	display:block;
	text-align:center;
	margin-bottom:10px;
	font-size:45px;
}

div#login_box {
	width:400px;
	border:1px solid silver;
	padding:10px;
	margin:0 auto;
	background:#D1FAFF;
}

div#login_box label {
	font-size:32px;
	display:block;
	float:left;
}

div#login_box input[type="password"] {
	border:1px solid silver;
	font-size:32px;
	width:400px;
	background:#FBFFCC;
}

div#footer {
	font-size:11px;
	width:400px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
	color:#8A8A8A;
}

div#footer a {
	color:#8A8A8A;
}

div#footer span {
	border-left:1px solid silver;
	margin-left:5px;
	padding-left:5px;
}

div#footer span:first-child {
	margin-left:0;
	padding-left:0;
	border-left:none;
}
