body {
	font-family:courier;
	font-size:11px;
	margin:0;
}

div#top {
	border-top:5px solid black;
	padding:5px;
}

div#top h1 {
	display:inline;
	margin-left:21px;
	font-size:16px;
}

div#top img#loading_gif {
	position:absolute;
}

div#top img#loading_gif.hidden {
	visibility:hidden;
}

div#top input[type="button"] {
	float:right;
	border:1px solid silver;
	font-family:courier;
}

div#settings {
	border-top:1px solid black;
	margin-top:5px;
	padding:5px 21px;
	overflow:auto;
}

div#top div#settings label {
	float:left;
	text-align:right;
	display:block;
	clear:both;
	position:relative;
	top:3px;
}

div#top div#settings input[type="text"] {
	border:1px solid silver;
	width:3em;
	float:left;
	margin-right:10px;
	margin-left:5px;
}

div#content {
	clear:both;
	padding:5px;
}

table#TableViewer {
	border-collapse:collapse;
	border:1px solid silver;
}

table#TableViewer tr {
	border:1px solid silver;
}

table#TableViewer tr:hover {
        background:#FBFFCC;
}

table#TableViewer tr th {
	border:1px solid silver;
	padding:3px;
	background:#C2FEFF;
}

table#TableViewer tr td {
	border:1px solid silver;
	padding:3px;
}

table#TableViewer tr td.expired {
	color:red;
}

table#TableViewer tr td.key {
}

table#TableViewer tr td.slab {
        text-align:right;
}

table#TableViewer tr td.size {
        text-align:right;
}

table#TableViewer tr td.expiry_date {
}

table#TableViewer tr td.expires_in {
	text-align:center;
}
