body {
	font-family:courier;
	font-size:11px;
	margin:0;
}

div#top {
	border-top:5px solid black;
	padding:5px;
}

div#top img#loading_gif {
}

div#top img#loading_gif.hidden {
	visibility:hidden;
}

table#TableViewer {
	border-collapse:collapse;
	border:1px solid silver;
}

table#TableViewer tr {
	border:1px solid silver;
}

table#TableViewer tr:hover {
        background:#FBFFCC;
}

table#TableViewer tr th {
	border:1px solid silver;
	padding:3px;
	background:#C2FEFF;
}

table#TableViewer tr td {
	border:1px solid silver;
	padding:3px;
}

table#TableViewer tr td.expired {
	color:red;
}

table#TableViewer tr td.key {
}

table#TableViewer tr td.slab {
        text-align:right;
}

table#TableViewer tr td.size {
        text-align:right;
}

table#TableViewer tr td.expiry_date {
}

table#TableViewer tr td.expires_in {
	text-align:center;
}
