<!DOCTYPE html>

<html>

<head>
	<title>MemcacheViewer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/TableViewer.css" />
        <script src="scripts/jquery.js" type="text/javascript"></script>
        <script src="scripts/reload.js" type="text/javascript"></script>

</head>

<body>

<div id="top">
	<img src="images/loading.gif" id="loading_gif" alt="loading" />
	<input type="button" onclick="location.href='logout.php'" value="Logout" />
	<label for="refresh_rate">Refresh Rate (secs)</label><input type="text" onchange="setRefreshInterval()" value="1" id="refresh_rate" name="refresh_rate" />
</div>

<div id="content">
