<!DOCTYPE html>

<html>

<head>
	<title>MemcacheViewer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/TableViewer.css" />
        <script src="scripts/jquery.js" type="text/javascript"></script>
        <script src="scripts/reload.js" type="text/javascript"></script>

</head>

<body>

<div id="top">
	<a href="logout.php">logout</a>
	<label for="refresh_rate">Refresh Rate</label><input type="text" value="1" name="refresh_rate" />
</div>

<div id="content">
